<style>
  .card{
      line-height: 3rem;
  }
  body{
    background-color: #f2f2f2;
  }
  .btn{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    color:#ffff;
    transition: none;
  }
  .btn:hover{

    border-color: rgba(0, 0, 0, 0.7);
    color:rgba(0, 0, 0, 1);
    background-color: #f8f9fa;
    transition: none;
  }
  a{
    text-decoration: none;
    color: #18654e;
  }
  a:hover{
    color: rgba(0, 0, 0, 0.7);
  }
  .btn-danger{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #dc3545;
    color:white;
    background-color: #dc3545;
    transition: none;
  }
  .btn-danger:hover{
    background-color: white;
    color:#dc3545;
    transition: none;
  }
  .card-container{
    min-width:40rem;
  }
  @media(max-width:512px){
    .card{
      margin-left:0 !important;
      margin-right:0!important;
    }
    .shared-links{
    margin-left: 5% !important;

    }
    .card-container{
      min-width:20rem;
    }
  }
  .content{
    min-height: 80vh;
  }
</style>
<% if resource.errors.any? %>
  <%= render "devise/shared/error_messages", resource: resource %>
<% end %>
<div class="mx-4 my-4 d-flex justify-content-center content">
<div class="card-container">
  <div class="card m-4">
    <div class="card-header p-5">
      <h2>Edit <b><%= current_user.email %>'s</b> password.</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="field form-group mx-2 mt-2 mb-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: false, autocomplete: "email", class: "form-control", :disabled => true %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group m-2">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <%= @minimum_password_length %> characters minimum
          <% end %>
        </div>
        <div class="field form-group m-2">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
        <!-- Button trigger modal for account cancellation -->
        <div class="field form-group my-4 ms-2">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Update my Account</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center">
                        <h3 class="modal-title ms-4 my-2" id="exampleModalLabel">Please enter your current password</h3>
                    </div>
                    <div class="modal-body">
                      <div class="field form-group mx-2 mt-2 mb-4">
                        <%= f.label :current_password %><br />
                        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                      </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <div class="actions field m-2">
                          <%= f.submit "Update my Account", class: "btn", "data-bs-dismiss": "modal", "aria-label": "Close" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modal -->
      <% end %>
    </div>
  </div>
</div>
</div>