<style>
    body{
    background-color: #f2f2f2;
    }
    .forum-content{
    margin: 0% 10% 0% 10%;
    }
    @media(max-width:476px){
    .forum-content{
        margin: 0% 10% 0% 10%;
    }
    }
    .jumbotron{
    margin: 3% 0% 3% 0%;
    }
    .jumbotron h1{
    font-size:2.3vw;
    font-weight: bold;
    color: #18654e;
    }
    .jumbotron p{
    font-size:1.3vw;
    padding-right: 35%;
    }
    @media(max-width:1450px){
        .jumbotron h1{
        font-size:3vw;
        }
        .jumbotron p{
        font-size:1.5vw;
        }
    }
    @media(max-width:1199px){
    .card-user{
        margin: 0% 0% 0% 0%;
    }
    }
    @media(max-width:991px){
        .jumbotron{
        margin: 15% 0% 0% 0%;
        }
        .jumbotron h1{
        font-size:7vw;
        }
        .jumbotron p{
        font-size:3.2vw;
        }
    }
    @media(max-width:476px){
        .jumbotron h1{
        font-size:10vw;
        }
        .jumbotron p{
        font-size:5vw;
        }
    }
    @media(max-width:992px){
    .card-holder{
        margin-bottom: 5%;
    }
    }
    .card-user{
    margin: 15% 0% 5% 25%;
    padding: 2% 1% 3% 1%;
    }
    @media(max-width:1199px){
    .card-user{
        margin: 7% 0% 0% 0%;
        padding: 2% 1% 3% 1%;
    }
    }
    .btn-card{
    margin: 2% 2% 2% 0%;
    }
    .btn-edit{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color: #ffff;
    transition: none;
    }
    .btn-edit:hover{
    background-color: #ffff;
    color: #18654e;
    transition: none;
    }
    .btn-danger{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #dc3545;
    transition: none;
    }
    .btn-danger:hover{
    background-color: white;
    color:#dc3545;
    transition: none;
    }
    .card-body-posts p:first-child{
    color: rgba(0, 0, 0, 0.55);
    }
    .card-body-posts a{
    text-decoration: none;
    color: #18654e;
    font-size:0.9vw;
    margin: 0% 3% 0% 0%;
    transition: none;
    }
    .card-body-posts button{
    text-decoration: none;
    color: #18654e;
    font-size:0.9vw;
    margin: 0% 3% 0% 0%;
    transition: none;
    }
    .card-body-posts a:hover{
    color: white;
    transition: none;
    }

    .btn-posts-card:hover{
    color: rgba(0, 0, 0, 0.7) !important;
    transition: none;
    }
    .btn-posts-card-delete{
    color: #dc3545 !important;
    border-style: none;
    background-color: transparent;
    }
    .btn-posts-card-delete:hover{
    color: rgba(0, 0, 0, 0.7) !important;
    transition: none;
    }
    @media(max-width:1450px){
    .card-body-posts a{
        font-size:1.7vw;
    }
    }
    @media(max-width:991px){
    .card-body-posts a{
        font-size:3vw;
    }
    .card-body-posts button{
        font-size:3vw;
    }
    }
    @media(max-width:476px){
    .card-body-posts a{
        font-size:4vw;
    }
    .card-body-posts button{
        font-size:4vw;
    }
    }
    .check-btn{
    background-color: white;
    border-style: none;
    }
</style>

<div class="row forum-content" >

    <!-- Jumbotron weolcome -->
    <div class="col-lg-8 p-0 d-flex align-items-center">
        <div class="text-left jumbotron">
            <h1>Welcome to your Todos page</h1>
            <br />
            <p>Here you can add, edit, and delete your Todo lists.</p>
        </div>
    </div>
    <!--End Jumbotron -->
    
    <!--Profile card -->
    <div class="col-lg-4 p-0 d-flex justify-content-center card-holder" >
        <div class="card card-user text-center">
            <div class="card-body">
                <h3 class="card-title my-3">Profile:</h3>
                <h3 class="card-title my-3"><%= current_user.email %></h3>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link", class: "btn btn-edit btn-card" %>

                <!-- Button trigger modal for account cancellation -->
                <button type="button" class="btn btn-danger btn-card" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancel my account</button>

                <!-- Modal for account cancellation -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-flex justify-content-center">
                                <h3 class="modal-title ms-4 my-2" id="exampleModalLabel">Are you sure?</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title my-2" id="exampleModalLabel">All your personal data will be errased from the system.</h5>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <%= button_to "Delete my Account", registration_path(current_user), method: :delete, class: "btn btn-danger my-2" %>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Modal -->

            </div>
        </div>
    </div>
    <!-- End profile card -->

    <hr />

    <!-- Header Lists -->
    <div class="text-left jumbotron">
        <h1 class="pb-4">My Lists</h1>
    </div>

    <!-- Cards for Lists -->
    <div class="card-container next-projects">
        <div class="d-flex flex-wrap">

            <% current_user.lists.each do |list| %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body d-flex flex-column justify-content-between">

                        <h4 class="card-title mt-3">
                            <!-- Button trigger modal to edit list -->
                            <button type="button" class="btn check-btn" data-bs-toggle="modal" data-bs-target="#modalEditList<%= list.id %>"><%= list.title %></button>

                            <!-- Modal for edit list -->
                            <div class="modal fade" id="modalEditList<%= list.id %>" tabindex="-1" role="dialog" aria-labelledby="modalEditListLabel<%= list.id %>" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex justify-content-center">
                                            <h3 class="modal-title ms-4 my-2" id="modalDeleteListLabel<%= list.id %>">Edit title</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body d-flex justify-content-center">
                                            <%= form_with(model: list) do |form| %>
                                                <% if list.errors.any? %>
                                                    <div style="color: red">
                                                    <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                    <ul>
                                                        <% list.errors.each do |error| %>
                                                            <li><%= error.full_message %></li>
                                                        <% end %>
                                                    </ul>
                                                    </div>
                                                <% end %>
                                                <br/>
                                                <div class="form-group" >
                                                    <%= form.label :title, style: "display: none" %>
                                                    <%= form.text_field :title, class: "form-control", :required => true %>
                                                </div>
                                                <div class="form-group">
                                                    <%= form.label :user_id, style: "display: none" %>
                                                    <%= form.number_field :user_id, id: :list_id, value: current_user.id, type: :hidden %>
                                                </div>
                                                <br/>
                                                <div>
                                                    <%= form.submit  "Edit", class: "btn" %>
                                                </div>
                                                <br/>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Modal -->
                        </h4>

                        <!-- Button trigger modal to delete list -->
                        <button type="button" class="btn check-btn" data-bs-toggle="modal" data-bs-target="#modalDeleteList<%= list.id %>"><i class="fa fa-trash" aria-hidden="true"></i></button>


                        <!-- Modal for delete list -->
                        <div class="modal fade" id="modalDeleteList<%= list.id %>" tabindex="-1" role="dialog" aria-labelledby="modalDeleteListLabel<%= list.id %>" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header d-flex justify-content-center">
                                        <h3 class="modal-title ms-4 my-2" id="modalDeleteListLabel<%= list.id %>">Are you sure to delete <b><%= list.title %></b>?</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center">
                                        <%= button_to list_path(list), method: :delete, class: "btn btn-danger btn-card" do %>Delete <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Modal -->
                        
                        <hr/>

                        <!-- Tasks -->
                        <p class="card-text">
                            <% list.tasks.each do |task| %>
                                <% if task.completed %>
                                    <h6 class="card-title">
                                        <!-- Mark as not done button -->
                                        <%= form_with(model: task) do |form| %>
                                            <% if list.errors.any? %>
                                                <div style="color: red">
                                                <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                <ul>
                                                    <% list.errors.each do |error| %>
                                                        <li><%= error.full_message %></li>
                                                    <% end %>
                                                </ul>
                                                </div>
                                            <% end %>
                                            <br/>
                                            <div class="form-group" >
                                                <%= form.label :completed, style: "display: none" %>
                                                <%= form.check_box :completed, checked: false, style: "display: none" %>
                                            </div>
                                            <div class="form-group">
                                                <%= form.label :user_id, style: "display: none" %>
                                                <%= form.number_field :user_id, id: :task_id, value: current_user.id, type: :hidden %>
                                            </div>
                                            <br/>
                                            <div>
                                                <%= form.button :submit, class: "check-btn" do %><i class="fa fa-check-square-o" aria-hidden="true" style="color:#18654e"></i><% end %>
                                            </div>
                                            <br/>
                                        <% end %>
                                        <!-- Button trigger modal to edit task -->
                                        <button type="button" class="btn check-btn" data-bs-toggle="modal" data-bs-target="#modalEditTask<%= task.id %>"><s><%= task.description %></s></button>

                                        <!-- Modal for edit task name-->
                                        <div class="modal fade" id="modalEditTask<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="modalEditTaskLabel<%= task.id %>" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header d-flex justify-content-center">
                                                        <h3 class="modal-title ms-4 my-2" id="modalEditTaskLabel<%= task.id %>">Edit title</h3>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body d-flex justify-content-center">
                                                        <%= form_with(model: task) do |form| %>
                                                            <% if list.errors.any? %>
                                                                <div style="color: red">
                                                                <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                                <ul>
                                                                    <% list.errors.each do |error| %>
                                                                        <li><%= error.full_message %></li>
                                                                    <% end %>
                                                                </ul>
                                                                </div>
                                                            <% end %>
                                                            <br/>
                                                            <div class="form-group" >
                                                                <%= form.label :description, style: "display: none" %>
                                                                <%= form.text_field :description, class: "form-control", :required => true %>
                                                            </div>
                                                            <div class="form-group">
                                                                <%= form.label :user_id, style: "display: none" %>
                                                                <%= form.number_field :user_id, id: :list_id, value: current_user.id, type: :hidden %>
                                                            </div>
                                                            <br/>
                                                            <div>
                                                                <%= form.submit  "Edit", class: "btn" %>
                                                            </div>
                                                            <br/>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Modal -->

                                        <!-- Delete button -->
                                        <%= button_to task_path(task), method: :delete, class: "btn-posts-card-delete" do %><i class="fa fa-trash" aria-hidden="true"></i><% end %>
                                    </h6>
                                <% else %>

                                    <h6 class="card-title">
                                        <!-- Mark as done button -->
                                        <%= form_with(model: task) do |form| %>
                                            <% if list.errors.any? %>
                                                <div style="color: red">
                                                <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                <ul>
                                                    <% list.errors.each do |error| %>
                                                        <li><%= error.full_message %></li>
                                                    <% end %>
                                                </ul>
                                                </div>
                                            <% end %>
                                            <br/>
                                            <div class="form-group" >
                                                <%= form.label :completed, style: "display: none" %>
                                                <%= form.check_box :completed, checked: true, style: "display: none" %>
                                            </div>
                                            <div class="form-group">
                                                <%= form.label :user_id, style: "display: none" %>
                                                <%= form.number_field :user_id, id: :task_id, value: current_user.id, type: :hidden %>
                                            </div>
                                            <br/>
                                            <div>
                                                <%= form.button :submit, class: "check-btn" do %><i class="fa fa-square-o" aria-hidden="true" style="color:#18654e"></i><% end %>
                                            </div>
                                            <br/>
                                        <% end %>
                                        <!-- Button trigger modal to edit task -->
                                        <button type="button" class="btn check-btn" data-bs-toggle="modal" data-bs-target="#modalEditTask<%= task.id %>"><%= task.description %></button>

                                        <!-- Modal for edit task name-->
                                        <div class="modal fade" id="modalEditTask<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="modalEditTaskLabel<%= task.id %>" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header d-flex justify-content-center">
                                                        <h3 class="modal-title ms-4 my-2" id="modalEditTaskLabel<%= task.id %>">Edit title</h3>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body d-flex justify-content-center">
                                                        <%= form_with(model: task) do |form| %>
                                                            <% if list.errors.any? %>
                                                                <div style="color: red">
                                                                <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                                <ul>
                                                                    <% list.errors.each do |error| %>
                                                                        <li><%= error.full_message %></li>
                                                                    <% end %>
                                                                </ul>
                                                                </div>
                                                            <% end %>
                                                            <br/>
                                                            <div class="form-group" >
                                                                <%= form.label :description, style: "display: none" %>
                                                                <%= form.text_field :description, class: "form-control", :required => true %>
                                                            </div>
                                                            <div class="form-group">
                                                                <%= form.label :user_id, style: "display: none" %>
                                                                <%= form.number_field :user_id, id: :list_id, value: current_user.id, type: :hidden %>
                                                            </div>
                                                            <br/>
                                                            <div>
                                                                <%= form.submit  "Edit", class: "btn" %>
                                                            </div>
                                                            <br/>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Modal -->

                                        <!-- Delete button -->
                                        <%= button_to task_path(task), method: :delete, class: "btn-posts-card-delete" do %><i class="fa fa-trash" aria-hidden="true"></i><% end %>
                                    </h6>
                                <% end %>
                            <% end %>
                            <!-- End tasks -->

                            <hr/>

                            <!-- Add Tasks -->
                            <%= form_with(model: @task) do |form| %>
                                    <% if @task.errors.any? %>
                                        <div style="color: red">
                                            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this @task from being saved:</h2>
                                            <ul>
                                            <% @task.errors.each do |error| %>
                                                <li><%= error.full_message %></li>
                                            <% end %>
                                            </ul>
                                        </div>
                                    <% end %>

                                    <div class="form-group" >
                                        <p>Add a new task</p>
                                        <%= form.label :description, style: "display: none" %>
                                        <%= form.text_field :description, class: "form-control", :required => true %>
                                    </div>
                                    <div>
                                        <%= form.label :list_id, style: "display: none" %>
                                        <%= form.text_field :list_id, id: :list_user_id, value: list.id, type: :hidden %>
                                    </div>
                                    <div>
                                        <%= form.label :user_id, style: "display: none" %>
                                        <%= form.number_field :user_id, id: :list_user_id, value: current_user.id, type: :hidden %>
                                    </div>
                                    <br/>
                                    <div>
                                        <%= form.button :submit, class: "check-btn" do %><i class="fa fa-plus-square-o" aria-hidden="true"></i><% end %>
                                    </div>
                            <% end %>
                            <!-- End add Tasks -->
                        </p>
                    </div>
                </div>
            <% end %>
            <!-- Button trigger modal to add a new list -->
            <button type="button" class="btn check-btn" data-bs-toggle="modal" data-bs-target="#modalAddList"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>

            <!-- Modal for new list -->
            <div class="modal fade" id="modalAddList" tabindex="-1" role="dialog" aria-labelledby="modalAddList" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-flex justify-content-center">
                            <h3 class="modal-title ms-4 my-2" id="modalAddListLabel">Name your new list</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body mt-4 mx-4">
                                <%= form_with(model: @list) do |form| %>
                                        <% if @list.errors.any? %>
                                            <div style="color: red">
                                                <h2><%= pluralize(@list.errors.count, "error") %> prohibited this @list from being saved:</h2>
                                                <ul>
                                                    <% @list.errors.each do |error| %>
                                                        <li><%= error.full_message %></li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                        <% end %>
                                        <div class="form-group" >
                                            <%= form.label :title, style: "display: none" %>
                                            <%= form.text_field :title, class: "form-control", :required => true %>
                                        </div>
                                        <div class="form-group">
                                            <%= form.label :user_id, style: "display: none" %>
                                            <%= form.number_field :user_id, id: :list_id, value: current_user.id, type: :hidden %>
                                        </div>
                                        <br/>
                                        <div>
                                            <%= form.submit  "Create", class: "btn" %>
                                        </div>
                                        <br/>
                                <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal -->

        </div>
    </div>
    <!-- End cards for Lists -->

</div>