<style>
    body{
    background-color: #f2f2f2;
    }
    .forum-content{
    margin: 0% 10% 0% 10%;
    }
    @media(max-width:476px){
    .forum-content{
        margin: 0% 10% 0% 10%;
    }
    }
    .jumbotron{
    margin: 1% 0% 1% 0%;
    }
    .jumbotron h1{
    font-size:2vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    }
    .jumbotron p{
    font-size:1.3vw;
    padding-right: 15%;
    }
    .list-title{
        font-size:1.1vw;
    }
    @media(max-width:1450px){
        .jumbotron h1{
        font-size:3vw;
        }
        .jumbotron p{
        font-size:1.5vw;
        }
        .list-title{
            font-size:1.3vw;
        }
    }
    @media(max-width:1199px){
    .card-user{
        margin: 0% 0% 0% 0%;
    }
    }
    @media(max-width:991px){
        .jumbotron{
        margin: 15% 0% 0% 0%;
        }
        .jumbotron h1{
        font-size:7vw;
        }
        .jumbotron p{
        font-size:3.2vw;
        }
        .list-title{
            font-size:2.8vw;
        }
    }
    @media(max-width:476px){
        .jumbotron h1{
            font-size:10vw;
        }
        .jumbotron p{
            font-size:5vw;
        }
        .list-title{
            font-size:4vw;
        }
    }
    @media(max-width:992px){
    .card-holder{
        margin-bottom: 5%;
    }
    }
    .card-user{
    margin: 7% 0% 5% 5%;
    padding: 2% 1% 3% 1%;
    }
    @media(max-width:1199px){
    .card-user{
        margin: 7% 0% 0% 0%;
        padding: 2% 1% 3% 1%;
    }
    }
    .btn-card{
    margin: 2% 2% 2% 0%;
    }
    .btn-edit{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffff;
    transition: none;
    }
    .btn-edit:hover{
    background-color: #ffff;
    color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 0.7);
    transition: none;
    }
    .btn-danger{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #dc3545;
    transition: none;
    }
    .btn-danger:hover{
    background-color: white;
    color:#dc3545;
    transition: none;
    }
    .card-body-posts p:first-child{
    color: rgba(0, 0, 0, 0.55);
    }
    .card-body-posts{
    text-decoration: none;
    color: #18654e;
    transition: none;
    }
    .card-body-posts:hover{
    color: rgba(0, 0, 0, 0.7) !important;
    transition: none;
    }

    .btn-posts-card-delete{
    color: #dc3545 !important;
    border-style: none;
    background-color: transparent;
    }
    .btn-posts-card-delete:hover{
    color: rgba(0, 0, 0, 0.7) !important;
    transition: none;
    }
    .check-btn{
    background-color: white;
    border-style: none;
    }
    .new-list-btn{
    background-color: #f2f2f2;
    border-style: none;
    }

    .new-list-icon{
    color: #18654e;
    transform: scale(3);
    }

    .new-list-btn:hover > .new-list-icon{
    color: rgba(0, 0, 0, 0.7);
    }
    .card-container{
        padding-left: 0 !important;
        min-height:50vh;
    }
    .modal-buttons{
        border-width: 2px;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffff;
        transition: none;
    }
    .modal-buttons:hover{
        background-color: #f8f9fa;
        border-color: rgba(0, 0, 0, 0.7);
        color: rgba(0, 0, 0, 1);
        transition: none;
    }

</style>

<div class="row forum-content" >

    <!-- Jumbotron weolcome -->
    <div class="col-lg-8 p-0 d-flex align-items-center">
        <div class="text-left jumbotron">
            <h1>Welcome to your to-do's page</h1>
            <br />
            <p>Here you can add, edit, and delete your to-do lists.</p>
        </div>
    </div>
    <!--End Jumbotron -->
    
    <!--Profile card -->
    <div class="col-lg-4 p-0 d-flex justify-content-center card-holder" >
        <div class="card card-user text-start">
            <div class="card-body">
                <h2 class="card-title my-3">Profile:</h2>
                <h3 class="card-title my-3"><%= current_user.email %></h3>
                <br/>
                <%= link_to "Edit password", edit_user_registration_path, class: "nav-link", class: "btn btn-edit btn-card" %>

                <!-- Button trigger modal for account cancellation -->
                <button type="button" class="btn btn-danger btn-card" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete account</button>
                <!-- Modal for account cancellation -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-flex justify-content-center">
                                <h3 class="modal-title ms-4 my-2" id="exampleModalLabel">Are you sure to delete your account?</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title mx-4 my-2" id="exampleModalLabel">All your personal data will be errased from the system.</h5>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <%= button_to "Delete my account", registration_path(current_user), method: :delete, class: "btn btn-danger my-2" %>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Modal -->

            </div>
        </div>
    </div>
    <!-- End profile card -->

    <hr />

    <!-- Cards for Lists -->
    <div class="card-container">
        <% if current_user.lists.count == 0 %>
            <div class="text-left jumbotron">
                <h3 class="pb-4">Click the plus button to create a new list</h3>
            </div>
        <% end %>
        <div class="d-flex flex-wrap">
            <% current_user.lists.each do |list| %>
                <div class="card mt-4 mb-5 me-5" style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <!-- Button trigger modal to edit list -->
                            <button type="button" class="btn check-btn list-title" data-bs-toggle="modal" data-bs-target="#modalEditList<%= list.id %>" data-toggle="tooltip" title="Click on it to edit list name"><%= list.title %></button>

                            <!-- Modal for edit list -->
                            <div class="modal fade" id="modalEditList<%= list.id %>" tabindex="-1" role="dialog" aria-labelledby="modalEditListLabel<%= list.id %>" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex justify-content-center">
                                            <h3 class="modal-title ms-4 my-2" id="modalDeleteListLabel<%= list.id %>">Edit list title</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body px-5">
                                            <%= form_with(model: list) do |form| %>
                                                <% if list.errors.any? %>
                                                    <div style="color: red">
                                                    <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                    <ul>
                                                        <% list.errors.each do |error| %>
                                                            <li><%= error.full_message %></li>
                                                        <% end %>
                                                    </ul>
                                                    </div>
                                                <% end %>
                                                <br/>
                                                <div class="form-group" >
                                                    <%= form.label :title, style: "display: none" %>
                                                    <%= form.text_field :title, class: "form-control", :required => true %>
                                                </div>
                                                <div class="form-group">
                                                    <%= form.label :user_id, style: "display: none" %>
                                                    <%= form.number_field :user_id, id: :list_id, value: current_user.id, type: :hidden %>
                                                </div>
                                                <br/>
                                                <div class="d-flex justify-content-end">
                                                    <%= form.submit  "Edit", class: "btn modal-buttons" %>
                                                </div>
                                                <br/>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Modal -->

                            <!-- Button trigger modal to delete list -->
                            <button type="button" class="btn btn-posts-card-delete me-2" data-bs-toggle="modal" data-bs-target="#modalDeleteList<%= list.id %>"><i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" title="Delete list"></i></button>
                            
                        </div>

                        <!-- Modal for delete list -->
                        <div class="modal fade" id="modalDeleteList<%= list.id %>" tabindex="-1" role="dialog" aria-labelledby="modalDeleteListLabel<%= list.id %>" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header d-flex justify-content-center">
                                        <h3 class="modal-title ms-4 my-2" id="modalDeleteListLabel<%= list.id %>">Are you sure you want to delete "<%= list.title %>"?</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center">
                                        <%= button_to list_path(list), method: :delete, class: "btn btn-danger btn-card" do %>Delete <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Modal -->
                        
                        <hr/>

                        <!-- Tasks -->
                            <% list.tasks.each do |task| %>
                                <% if task.completed %>
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <!-- Mark as not done button -->
                                            <%= form_with(model: task) do |form| %>
                                                <% if list.errors.any? %>
                                                    <div style="color: red">
                                                    <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                    <ul>
                                                        <% list.errors.each do |error| %>
                                                            <li><%= error.full_message %></li>
                                                        <% end %>
                                                    </ul>
                                                    </div>
                                                <% end %>
                                                <div class="form-group" >
                                                    <%= form.label :completed, style: "display: none" %>
                                                    <%= form.check_box :completed, checked: false, style: "display: none" %>
                                                </div>
                                                <div class="form-group">
                                                    <%= form.label :user_id, style: "display: none" %>
                                                    <%= form.number_field :user_id, id: :task_id, value: current_user.id, type: :hidden %>
                                                </div>
                                                <div>
                                                    <%= form.button :submit, class: "check-btn" do %><i class="fa fa-check-square-o ms-2 card-body-posts" aria-hidden="true" data-toggle="tooltip" title="Unmark task as done"></i><% end %>
                                                </div>
                                            <% end %>
                                            
                                            <!-- Button trigger modal to edit finished task -->
                                            <button type="button" class="btn check-btn" data-bs-toggle="modal" data-bs-target="#modalEditTask<%= task.id %>" data-toggle="tooltip" title="Click on it to edit task"><s><%= task.description %></s></button>

                                            <!-- Modal for edit finished task name-->
                                            <div class="modal fade" id="modalEditTask<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="modalEditTaskLabel<%= task.id %>" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header d-flex justify-content-center">
                                                            <h3 class="modal-title ms-4 my-2" id="modalEditTaskLabel<%= task.id %>">Edit task</h3>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body px-5">
                                                            <%= form_with(model: task) do |form| %>
                                                                <% if list.errors.any? %>
                                                                    <div style="color: red">
                                                                    <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                                    <ul>
                                                                        <% list.errors.each do |error| %>
                                                                            <li><%= error.full_message %></li>
                                                                        <% end %>
                                                                    </ul>
                                                                    </div>
                                                                <% end %>
                                                                <div class="form-group" >
                                                                    <%= form.label :description, style: "display: none" %>
                                                                    <%= form.text_field :description, class: "form-control", :required => true %>
                                                                </div>
                                                                <div class="form-group">
                                                                    <%= form.label :user_id, style: "display: none" %>
                                                                    <%= form.number_field :user_id, id: :list_id, value: current_user.id, type: :hidden %>
                                                                </div>
                                                                <br/>
                                                                <div class="d-flex justify-content-end">
                                                                    <%= form.submit  "Edit", class: "btn modal-buttons" %>
                                                                </div>
                                                                <br/>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Modal -->
                                        </div>

                                        <!-- Delete button -->
                                        <%= button_to task_path(task), method: :delete, class: "btn btn-posts-card-delete me-2" do %><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Delete task"></i><% end %>

                                    </div>
                                    
                                <% else %>

                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <!-- Marck as done button -->
                                            <%= form_with(model: task) do |form| %>
                                                <% if list.errors.any? %>
                                                    <div style="color: red">
                                                    <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                    <ul>
                                                        <% list.errors.each do |error| %>
                                                            <li><%= error.full_message %></li>
                                                        <% end %>
                                                    </ul>
                                                    </div>
                                                <% end %>
                                                <div class="form-group" >
                                                    <%= form.label :completed, style: "display: none" %>
                                                    <%= form.check_box :completed, checked: true, style: "display: none" %>
                                                </div>
                                                <div class="form-group">
                                                    <%= form.label :user_id, style: "display: none" %>
                                                    <%= form.number_field :user_id, id: :task_id, value: current_user.id, type: :hidden %>
                                                </div>
                                                <div>
                                                    <%= form.button :submit, class: "check-btn" do %><i class="fa fa-square-o ms-2 card-body-posts" aria-hidden="true" data-toggle="tooltip" title="Mark task as done"></i><% end %>
                                                </div>
                                            <% end %>
                                            <!-- Button trigger modal to edit task -->
                                            <button type="button" class="btn check-btn" data-bs-toggle="modal" data-bs-target="#modalEditTask<%= task.id %>"  data-toggle="tooltip" title="Click on it to edit task"><%= task.description %></button>

                                            <!-- Modal for edit task name-->
                                            <div class="modal fade" id="modalEditTask<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="modalEditTaskLabel<%= task.id %>" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header d-flex justify-content-center">
                                                            <h3 class="modal-title ms-4 my-2" id="modalEditTaskLabel<%= task.id %>">Edit task</h3>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body px-5">
                                                            <%= form_with(model: task) do |form| %>
                                                                <% if list.errors.any? %>
                                                                    <div style="color: red">
                                                                    <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

                                                                    <ul>
                                                                        <% list.errors.each do |error| %>
                                                                            <li><%= error.full_message %></li>
                                                                        <% end %>
                                                                    </ul>
                                                                    </div>
                                                                <% end %>
                                                                <br/>
                                                                <div class="form-group" >
                                                                    <%= form.label :description, style: "display: none" %>
                                                                    <%= form.text_field :description, class: "form-control", :required => true %>
                                                                </div>
                                                                <div class="form-group">
                                                                    <%= form.label :user_id, style: "display: none" %>
                                                                    <%= form.number_field :user_id, id: :list_id, value: current_user.id, type: :hidden %>
                                                                </div>
                                                                <br/>
                                                                <div class="d-flex justify-content-end">
                                                                    <%= form.submit  "Edit", class: "btn modal-buttons" %>
                                                                </div>
                                                                <br/>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Modal -->
                                        </div>

                                        <!-- Delete button -->
                                        <%= button_to task_path(task), method: :delete, class: "btn btn-posts-card-delete me-2" do %><i class="fa fa-trash-o" aria-hidden="true"  data-toggle="tooltip" title="Delete task"></i><% end %>
                                        
                                    </div>
                                <% end %>
                            <% end %>
                            <!-- End tasks -->

                            <!-- Add Tasks -->
                            <%= form_with(model: @task) do |form| %>
                                    <% if @task.errors.any? %>
                                        <div style="color: red">
                                            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this @task from being saved:</h2>
                                            <ul>
                                            <% @task.errors.each do |error| %>
                                                <li><%= error.full_message %></li>
                                            <% end %>
                                            </ul>
                                        </div>
                                    <% end %>

                                    <div class="form-group d-flex flex-row mt-3 ms-2" >
                                        <%= form.label :description, style: "display: none" %>
                                        <%= form.text_field :description, class: "form-control me-3", :required => true, placeholder: "Add a new task" %>
                                        <%= form.button :submit, class: "btn check-btn me-2" do %><i class="fa fa-plus card-body-posts" aria-hidden="true"  data-toggle="tooltip" title="Add new task to the list"></i><% end %>
                                    </div>
                                    <div>
                                        <%= form.label :list_id, style: "display: none" %>
                                        <%= form.text_field :list_id, id: :list_user_id, value: list.id, type: :hidden %>
                                    </div>
                                    <div>
                                        <%= form.label :user_id, style: "display: none" %>
                                        <%= form.number_field :user_id, id: :list_user_id, value: current_user.id, type: :hidden %>
                                    </div>
                                    <br/>
                            <% end %>
                            <!-- End add Tasks -->
                    </div>
                </div>
            <% end %>
            <div class="mt-3 mb-5 me-1 d-flex align-items-center">
                <!-- Button trigger modal to add a new list -->
                <button type="button" class="btn new-list-btn" data-bs-toggle="modal" data-bs-target="#modalAddList"><i class="fa fa-plus-square-o new-list-icon" aria-hidden="true"  data-toggle="tooltip" title="Create a new list"></i></button>

                <!-- Modal for new list -->
                <div class="modal fade" id="modalAddList" tabindex="-1" role="dialog" aria-labelledby="modalAddList" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-flex justify-content-center">
                                <h3 class="modal-title ms-4 my-2" id="modalAddListLabel">Name your new list</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body mt-4 mx-4">
                                    <%= form_with(model: @list) do |form| %>
                                            <% if @list.errors.any? %>
                                                <div style="color: red">
                                                    <h2><%= pluralize(@list.errors.count, "error") %> prohibited this @list from being saved:</h2>
                                                    <ul>
                                                        <% @list.errors.each do |error| %>
                                                            <li><%= error.full_message %></li>
                                                        <% end %>
                                                    </ul>
                                                </div>
                                            <% end %>
                                            <div class="form-group" >
                                                <%= form.label :title, style: "display: none" %>
                                                <%= form.text_field :title, class: "form-control", :required => true %>
                                            </div>
                                            <div class="form-group">
                                                <%= form.label :user_id, style: "display: none" %>
                                                <%= form.number_field :user_id, id: :list_id, value: current_user.id, type: :hidden %>
                                            </div>
                                            <br/>
                                            <div class="d-flex justify-content-end mt-1">
                                                <%= form.submit  "Create", class: "btn modal-buttons" %>
                                            </div>
                                            <br/>
                                    <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Modal -->
            </div>

        </div>
    </div>
</div>