<div id="<%= dom_id task %>">
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

  <p>
    <strong>List:</strong>
    <%= task.list_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

</div>
