<!DOCTYPE html>
<html lang="en">
  <head>
    <title>toDoOrNotToDo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="Todoornottodo application allows you to create lists with tasks that may be marked as completed or not.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", "data-turbolinks-eval": "false", defer: true %>
    
    <!-- Stylesheets for icons-->
    <%= stylesheet_link_tag "font-awesome.min" %>

    <!-- Google ownership verification token-->
    <meta name="google-site-verification" content="Lv-mMvsuPsjrMdPZ80lVpl_woCxbSv0cdMrM655qkpg" />

  </head>

  <body>
  
    <!-- Renders navbar from partials-->
    <%= render partial: 'partials/navbar' %>

    <% if notice %>
      <%= render 'partials/notice' %>
    <% end %>

    <% if alert %>
      <%= render 'partials/alert' %>
    <% end %>

    <%= yield %>

    <!-- Renders footer from partials-->
    <%= render 'partials/footer' %>
    
  </body>
</html>
